@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-areas-calculator-top {
    grid-template-areas:
      "a a a"
      "d d d"
      ". b ."
      ". c ."
      "e e e";
  }

  .grid-areas-calculator-top-desktop {
    grid-template-areas:
      "a b"
      ". c"
      "d d"
      "e e";
  }

  input[type="range"].reset-range-appearance::-moz-range-thumb {
    appearance: none;
    background: transparent;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    width: 10px;
    height: 10px;
  }

  input[type="range"].reset-range-appearance::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: transparent;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    width: 10px;
    height: 10px;
  }

  input[type="range"].reset-range-appearance::-moz-range-track {
    background: transparent;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
  }

  input[type="range"].reset-range-appearance::-webkit-slider-runnable-track {
    background: transparent;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
  }
}

:root {
  font-size: 15px;
  font-weight: 500;
}

body {
  background: url("./images/page-bg.jpg");
  background-size: cover;
  background-position: center center;
}
